<div class="header">
    <h2>Our Menu</h2>
    
  </div>

  <!-- Photo Grid -->
<div class="row"> 
    <div class="column">
      <img src="./assets/images/Imagegrid/1.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/2.jpeg"style="width:100%">
      <img src="./assets/images/Imagegrid/3.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/4.jpeg"style="width:100%">
      <img src="./assets/images/Imagegrid/5.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/6.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/7.jpeg" style="width:100%">
    </div>
    <div class="column">
      <img src="./assets/images/Imagegrid/8.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/9.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/10.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/11.jpeg"style="width:100%">
      <img src="./assets/images/Imagegrid/12.jpeg"style="width:100%">
      <img src="./assets/images/Imagegrid/13.jpeg" style="width:100%">
    </div>  
    <div class="column">
      <img src="./assets/images/Imagegrid/14.jpeg" style="width:100%">
      <img src="./assets/images/Imagegrid/15.jpeg"  style="width:100%">
      <img src="./assets/images/Imagegrid/16.jpeg"  style="width:100%">
      <img src="./assets/images/Imagegrid/17.jpeg"  style="width:100%">
      <img src="./assets/images/Imagegrid/18.jpeg"  style="width:100%">
      <img src="./assets/images/Imagegrid/19.jpeg"  style="width:100%">
      
    </div>
    <div class="column">
        <img src="./assets/images/Imagegrid/4.jpeg" style="width:100%">
        <img src="./assets/images/Imagegrid/7.jpeg"  style="width:100%">
        <img src="./assets/images/Imagegrid/1.jpeg"  style="width:100%">
        <img src="./assets/images/Imagegrid/10.jpeg"  style="width:100%">
        <img src="./assets/images/Imagegrid/9.jpeg"  style="width:100%">
        <img src="./assets/images/Imagegrid/11.jpeg"  style="width:100%">
        <img src="./assets/images/Imagegrid/2.jpeg"  style="width:100%">
      </div>
  </div>
  